<html>
	<head>
		<meta name = "viewport" content = "width=device-width, intial-scale = 1">
		<!--Include jQuery Mobile stylesheets-->
		<link rel = "stylesheet" href = "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	
		<!--Include the jQuery library -->
		<script src = "http://code.jquery.com/jquery-1.11.1.min.js"></script>
	
		<!--Include the jQuery mobile library -->
		<script src = "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		
		<title>Krace Gennedy</title>
	</head>
	<body style = "text-align: center;">
		<div data-role = "page" data-theme = "b">
			<h1>Kingston Loving</h1>

			<h2>Kingston - Tomorrow's Weather</h2>
			<div id = "kw">
				<p>
					This data has been pulled from<br>
					<b><a href="<%= kgnurl %>" class = "ui-btn ui-btn-inline">Here:<br><%= kgnurl %></a></b>
					<br><br><br>

					Weather ID          : <%= kid %> 
					<br><br><br>

					Weather Condition   : <%= kmain %> 
					<br><br><br>

					Weather Description : <%= kdesc %> 
					<br><br><br>

					Date				: <%= kdate %>
					<br><br><br>			

					<a href = "<%= indexurl %>" class = "ui-btn ui-btn-inline" role = "button">Return</a>
				</p>
			</div>
		</div>
	</body>
</html>